#statistic{
    position: absolute;
    background-color: rgb(133, 133, 192);
    z-index:300;
}
.container{
    background-image: url('everdel.png');
    height: 895px;
    width: 780px;
    margin: 0 auto;
    background-color: bisque;
    position: relative;
}

.glade{
    position: absolute;
    top: 500px;
    left: 170px;
    background-color: rgb(207, 128, 32);
    height: 220px;
    width: 410px;
    text-align: center;
}
.state-location *{
    position: absolute;
    background-color: rgb(246, 14, 122);
    height: 40px;
    width: 47px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;

}
.state-location #first{
    top: 360px;
    left: 60px;  
}
.state-location #second{
    top: 352px;
    left: 165px;
}
.state-location #fird{
    top: 411px;
    left: 214px;
}
.state-location #fourth{
    top: 360px;
    left: 309px;
}
.state-location #fifth{
    top: 411px;
    left: 368px;
}
.state-location #sixth{
    top: 394px;
    left: 471px;
}
.state-location #seventh{
    top: 456px;
    left: 553px;
}
.state-location #eightth{
    top: 387px;
    left: 632px;
}

.cards-in-hand{
    position: absolute;
    width: 774px;

    /* background-color: brown; */
    top: 900px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.cards__item{
    height: 270px;
    width: 167px;
    background-color: aqua;
    margin: 10px;
    position: relative;
    border: 3px solid black;
    cursor: pointer;

}
.item__title{
    position: absolute;
    top:150px;
    text-align: center;
    width: 100%;
}
.item__mark{
    position: absolute;
    background-color: brown;
    border-radius: 31px;
    padding:9px;
}
.item__cost{
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */

}
.item__cost span{
    margin-left: 5px;

}



